<h2>Search Star Wars Characters by ID</h2>

<form action="Result" >
    <p>Enter the Id</p>
    <input type="number" name="id"/>
    <select name="endpoint" >
        <option value="people">People</option>
        <option value="starships">Vehicles</option>
        <option value="species">Species</option>
        <option value="films">Films</option>
        <option value="planets">Planets</option>
    </select>
    <input type="submit"/>
</form>